<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<div class="d-flex gap-4">
			<p class="m-0">Hello,
				{% if name is defined %}
					{{name}}
				{% endif %}
			</p>
			<a href="/logout" class="d-block topbar__link">Logout</a>
		</div>
	</div>
</nav>
