<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Company LOGO</a>
		<div class="d-flex gap-4">
			{% if name is defined %}
				<p class="m-0">Hello,
					{{name}}
				</p>
			{% endif %}
			<a href="/logout" class="d-block topbar__link">Logout</a>
		</div>
	</div>
</nav>
