.entrance_form__wrapper {
    width: clamp(290px, 33vw, 640px);
}

.entrance_form {
    opacity: 1;
    max-width: 100%;
    transition: opacity 0.4s;
    margin: 0 auto;
}

.entrance_form.hide {
    opacity: 0;
}

.form__line {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: start;
}

.form__label {
    font-size: 1.125rem;
}

.entrance_form__change_view {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .entrance_form__wrapper {
        width: 100%;
        padding: 0 1rem;
    }

    .entrance_form {
        box-sizing: border-box;
        margin: 0;
    }
}
