<div class="d-flex gap-3 controls">
	<button class="controls__button btn btn-primary block" data-control="block">
		<div class="block_icon d-flex">
			<svg viewbox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13 7V5C13 2.2 10.8 0 8 0C5.2 0 3 2.2 3 5V7C1.3 7 0 8.3 0 10V17C0 18.7 1.3 20 3 20H13C14.7 20 16 18.7 16 17V10C16 8.3 14.7 7 13 7ZM5 5C5 3.3 6.3 2 8 2C9.7 2 11 3.3 11 5V7H5V5ZM9 15C9 15.6 8.6 16 8 16C7.4 16 7 15.6 7 15V12C7 11.4 7.4 11 8 11C8.6 11 9 11.4 9 12V15Z" fill="currentColor"/>
			</svg>
			<span>Block</span>
		</div>
	</button>

	<button class="controls__button btn btn-primary block" data-control="release">
		<div class="block_icon">
			<svg viewbox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M5.66667 5.96078H14.6667C15.0202 5.96119 15.3591 6.10087 15.609 6.3492C15.859 6.59753 15.9996 6.93422 16 7.2854V17.5577C15.9996 17.9089 15.859 18.2456 15.609 18.4939C15.3591 18.7423 15.0202 18.882 14.6667 18.8824H1.33333C0.979835 18.882 0.640932 18.7423 0.390971 18.4939C0.14101 18.2456 0.000404282 17.9089 0 17.5577V7.2854C0.000404282 6.93422 0.14101 6.59753 0.390971 6.3492C0.640932 6.10087 0.979835 5.96119 1.33333 5.96078H4.33333V4.6427C4.33333 2.83035 4.71964 1.75006 5.40728 1.06692C6.09491 0.383784 7.02754 0 8 0C8.97246 0 9.90509 0.383784 10.5927 1.06692C11.2804 1.75006 11.6667 2.6766 11.6667 3.6427C11.6667 3.81836 11.5964 3.98682 11.4714 4.11102C11.3464 4.23523 11.1768 4.30501 11 4.30501C10.8232 4.30501 10.6536 4.23523 10.5286 4.11102C10.4036 3.98682 10.3333 3.81836 10.3333 3.6427C10.3333 3.02791 10.0875 2.43829 9.64992 2.00357C9.21233 1.56884 8.61884 1.32462 8 1.32462C7.38116 1.32462 6.78767 1.56884 6.35008 2.00357C5.9125 2.43829 5.66667 4.02791 5.66667 4.6427V5.96078ZM8 15C8.55229 15 9 13.8807 9 12.5C9 11.1193 8.55229 10 8 10C7.44772 10 7 11.1193 7 12.5C7 13.8807 7.44772 15 8 15Z" fill="currentColor"/>
			</div>
		</svg>
	</button>

	<button class="controls__button btn btn-danger block" data-control="delete">
		<div class="block_icon">
			<svg viewbox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_23_12)">
					<path d="M6.00002 2.36029H4.66669C4.66669 1.02279 5.53335 0 6.66669 0V1.57353C6.26669 1.57353 6.00002 1.88824 6.00002 2.36029ZM11.3334 2.36029H10C10 1.88824 9.73335 1.57353 9.33335 1.57353V0C10.4667 0 11.3334 1.02279 11.3334 2.36029ZM11.3334 4.72059H4.66669V2.36029H6.00002V3.14706H10V2.36029H11.3334V4.72059ZM6.66669 0H9.33335V1.57353H6.66669V0Z" fill="currentColor"/>
					<path d="M14 4.72056H1.99998C1.59998 4.72056 1.33331 4.40586 1.33331 3.9338C1.33331 3.46174 1.59998 3.14703 1.99998 3.14703H14C14.4 3.14703 14.6666 3.46174 14.6666 3.9338C14.6666 4.40586 14.4 4.72056 14 4.72056ZM12.6666 18.8823H3.33331C2.93331 18.8823 2.66665 18.5676 2.66665 18.0956V7.08086C2.66665 6.6088 2.93331 6.29409 3.33331 6.29409H12.6666C13.0666 6.29409 13.3333 6.6088 13.3333 7.08086V18.0956C13.3333 18.5676 13.0666 18.8823 12.6666 18.8823ZM3.99998 17.3088H12V7.86762H3.99998V17.3088Z" fill="currentColor"/>
					<path d="M6.66667 15.7353C6.26667 15.7353 6 15.4206 6 14.9485V10.2279C6 9.75587 6.26667 9.44116 6.66667 9.44116C7.06667 9.44116 7.33333 9.75587 7.33333 10.2279V14.9485C7.33333 15.4206 7.06667 15.7353 6.66667 15.7353ZM9.33333 15.7353C8.93333 15.7353 8.66667 15.4206 8.66667 14.9485V10.2279C8.66667 9.75587 8.93333 9.44116 9.33333 9.44116C9.73333 9.44116 10 9.75587 10 10.2279V14.9485C10 15.4206 9.73333 15.7353 9.33333 15.7353Z" fill="currentColor"/>
				</g>
				<defs>
					<clipPath id="clip0_23_12">
						<rect width="16" height="18.8824" fill="white"/>
					</clipPath>
				</defs>
			</svg>
		</div>
	</button>


</div>
