{% extends 'base.html.twig' %}

{% block title %}Users Controll
{% endblock %}
{% block javascripts %}
	{% block importmap %}
		{{ importmap('users') }}
	{% endblock %}
{% endblock %}

{% block body %}
	<div class="user_table__wrapper">
		<twig:Controlls></twig:Controlls>
	</div>
	<div id="table"></div>
{% endblock %}
